<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>      
  </head>
<body ng-app='ShopkinsApp'>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <h2>To Buy:</h2>
    <div class="col-md-6" ng-controller='ToBuyListController as toBuy'>
      <div ng-hide="toBuy.items.length" class="emptyMessage">Everything is bought!</div>
     <ul>
       <li ng-repeat="item in toBuy.items">Buy {{item.quantity}} {{item.name}}<index class="btn btn-default" ng-click="toBuy.addToAlreadyBought(item.name,item.quantity); toBuy.removeFromToBuy($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       
     </ul>
     
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as alreadyBought'>
     <h2>Already Bought:</h2>
     <div class="emptyMessage" ng-hide="alreadyBought.items.length">Nothing bought yet.</div>
     <ul>
       <li ng-repeat="boughtItem in alreadyBought.items">Bought {{boughtItem.quantity}} {{boughtItem.name}}</li>
     </ul>     
    </div>
  </div>
</div>

</body>
</html>
